.wrapper {
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
}

.cardBlock {
    position: relative;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-weight: bold;
}

.infoBlockItem {
    margin-bottom: 30px;
}

.lastInfoBlockButton {
    margin-left: 20px;
}

.listBlock {
    width: 100%;
    flex-grow: 1;
    overflow: auto;
}

.listItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.exitButton {
    position: absolute;
    right: 10px;
    top: 10px;
}
